.menu {
    min-width: 16vw;
    max-width: 18vw;
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 45px 0px;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0px 0px 3px 1px #bfbfbf;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    transition: 0.3s ease all;
}

.shadow-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.568);
    z-index: 10;
    /* cursor: pointer; */
}

.mobile-menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    min-width: 175px !important;
    max-width: 175px !important;
}

.mobile-menu .menu-body__profile {
    display: flex;
    padding: 0 5px;
    margin-bottom: 20px;
}

.mobile-menu .profile-avatar img {
    width: 55px;
    height: 55px;
}

.mobile-menu .profile-info__username {
    font-size: 16px;
}

.mobile-menu .action-avatar label {
    font-size: 14px;
    padding: 5px;
}

.mobile-menu .action-avatar label svg {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.mobile-menu .menu-footer__btn {
    margin-left: 8px;
    justify-content: flex-start;
}

.mobile-menu .footer-btn__icon {
    margin-right: 18px;
}

.mobile-menu .footer-btn__text {
    display: block;
}

.menu::-webkit-scrollbar-thumb {
    border: color transparent;
}

.menu-body {
    width: 100%;
    margin-bottom: 50%;
}

.menu-burger {
    position: absolute;
    top: 15px;
    right: 5px;
    width: 25px;
    height: 19px;
    display: none;
    flex-direction: column;
    align-items: flex-end;
    cursor: pointer;
    transition: 0.3s ease all;
}

.close-menu {
    top: 15px;
    right: 5px;
}

.close-menu > span:nth-child(1) {
    position: absolute;
    transform: rotate(130deg);
    height: 2px;
}
.close-menu > span:nth-child(2) {
    transform: rotate(130deg);
    height: 2px;
}
.close-menu > span:nth-child(3) {
    position: absolute;
    transform: rotate(-130deg);
    height: 2px;
}

.menu-burger__line {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #2a8bf2;
    border-radius: 8px;
    transition: 0.6s ease all;
}

.menu-burger__line:not(:last-child) {
    margin-bottom: 5px;
}

.menu-body__profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

.profile-avatar {
    margin-bottom: 10px;
}

.profile-avatar img {
    width: 86px;
    height: 86px;
    border-radius: 50%;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

.text-avatar {
    width: 86px;
    height: 86px;
    background: linear-gradient(325.78deg, #2a8bf2 14.76%, #7cb8f7 87.3%);
    box-shadow: inset 0px 0px 6px 1px #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    color: #ffffff;
    font-weight: 500;
    font-size: 36px;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    text-transform: uppercase;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-info__body {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.profile-info__action {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    opacity: 1;
    transform: translateY(0);
    animation: openAction 0.3s 1;
}

@keyframes openAction {
    0% {
        opacity: 0;
        transform: translateY(-50%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.action-btn {
    display: flex;
    align-items: center;
}

.action-btn__save {
    padding: 5px 10px;
    border-radius: 8px;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    background-color: #32ac71;
    cursor: pointer;
    margin-right: 5px;
}

.action-btn__cancel {
    padding: 5px 10px;
    border-radius: 8px;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    background-color: #e74c3c;
    cursor: pointer;
}

.action-avatar label {
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    display: flex;
    align-items: center;
    background: linear-gradient(325.78deg, #2a8bf2 14.76%, #7cb8f7 87.3%);
    box-shadow: 6px 6px 25px rgb(42 139 242 / 15%), 4px 4px 25px rgb(42 139 242 / 5%),
        10px 6px 25px rgb(42 139 242 / 15%);
    padding: 5px 10px;
    border-radius: 8px;
    margin-bottom: 7px;
    cursor: pointer;
    user-select: none;
}

.camera_light {
    margin-left: 5px;
}

.profile-info__username {
    font-size: 18px;
    line-height: 21px;
    color: #0d1c2e;
    margin-right: 6px;
    font-weight: 600;
    user-select: none;
}

.profile-info__svg {
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-info__svg svg {
    transition: 0.2s ease all;
    transform: rotate(0deg);
}

.active-item {
    transform: rotate(180deg) !important;
}

.menu-footer {
    width: 100%;
}

.menu-footer__btn {
    display: flex;
    align-items: center;
    margin-left: 38px;
    cursor: pointer;
}

.menu-footer__btn:hover .footer-btn__icon svg path {
    fill: #e74c3c;
}

.menu-footer__btn:hover .footer-btn__text {
    color: #e74c3c;
}

.menu-footer__btn:active .footer-btn__icon svg path {
    fill: #e6321e;
}

.menu-footer__btn:active .footer-btn__text {
    color: #e6321e;
}

.footer-btn__icon {
    padding: 1px 2px 2px 2px;
    margin-right: 18px;
}

.footer-btn__text {
    font-size: 16px;
    line-height: 19px;
    color: #707c97;
    font-weight: 600;
    text-transform: uppercase;
    user-select: none;
    transition: 0.3s ease all;
}

@media (max-width: 1024px) {
    .menu {
        max-width: 45px;
        min-width: 45px;
        justify-content: space-between;
    }
    .menu-burger {
        display: flex;
    }
    .menu-body__profile {
        display: none;
    }
    .footer-btn__text {
        display: none;
    }
    .footer-btn__icon {
        margin-right: 0;
    }
    .menu-footer__btn {
        margin-left: 0;
        justify-content: center;
    }
}

@media (max-width: 475px) {
    .menu::-webkit-scrollbar {
        width: 2.5px;
    }
    .menu-burger {
        right: 6.5px;
    }
}
