.app-body {
    display: flex;
}

.app-body__outlet {
    padding: 10px 10px 0px 10px;
    width: 100%;
}

.container-loader {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
