.page-recovery {
    position: relative;
    width: 470px;
    height: 87vh;
    background-color: #fff;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    overflow: hidden;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.page-recovery::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
    -webkit-transform-origin: bottom right;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

.page-recovery::after {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
    -webkit-transform-origin: bottom right;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

@keyframes animate {
    0% {
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.recovery__img {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0px 0px 37px 0px;
}

.body__recovery {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    overflow: hidden;
    padding: 50px 30px;
    inset: 2px;
    z-index: 10;
    background: #ffffff;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.recovery__title {
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    color: #3f434a;
    text-align: center;
    margin: 0px 0px 47px 35px;
    display: flex;
}

.recovery__title h2:first-of-type {
    margin: 0px 5px 0px 0px;
}

.recovery__form {
    display: flex;
    flex-direction: column;
}

.recovery__form-email {
    margin: 0px 0px 24px 0px;
    width: 100%;
}

.recovery__form-log {
    margin: 0px 0px 80px 0px;
    flex-direction: column;
}

.recovery__form-log input[type="button"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    background-color: #304ffd;
    padding: 10px 0px;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    color: #ffffff;
    -webkit-border-radius: 14px;
    border-radius: 14px;
    -webkit-box-shadow: 0px 4px #0026ff;
    box-shadow: 0px 4px #0026ff;
    top: 0;
    -webkit-transition: 0.2s ease box-shadow, 0.2s ease background-color;
    -moz-transition: 0.2s ease box-shadow, 0.2s ease background-color;
    -ms-transition: 0.2s ease box-shadow, 0.2s ease background-color;
    -o-transition: 0.2s ease box-shadow, 0.2s ease background-color;
    transition: 0.2s ease box-shadow, 0.2s ease background-color;
    cursor: pointer;
}

.recovery__form-log input[type="button"]:hover {
    top: 2px;
    -webkit-box-shadow: 0 2px 0px #0026ff;
    box-shadow: 0 2px 0px #0026ff;
    background-color: #304ffd;
}

.recovery__footer {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #8a9099;
}

.recovery__footer a {
    color: #304ffd;
    margin: 0px 0px 0px 5px;
    transition: 0.2s ease color;
}

.recovery__footer a:hover {
    color: #000e5a;
}

.form__subtitle {
    font-size: 14px;
    line-height: 18px;
    color: #8a9099;
    margin: 0px 0px 9px 0px;
}

.form-email__input {
    font-size: 14px;
    line-height: 18px;
    color: #3f434a;
    border: 1px solid #e8e9eb;
    border-radius: 14px;
    width: 100%;
    padding: 10px 15px;
    transition: 0.2s ease border;
}

.form-email__input:focus {
    border: 1px solid #000000;
}

.form-email__input:hover {
    border: 1px solid #304ffd;
}

@media (max-width: 1024px) {
    .body__recovery {
        padding: 10px 15px;
    }
    .recovery__title {
        display: block;
        margin: 0px 0px 45px 0px;
    }
    .recovery__form-email {
        margin: 0px 0px 22px 0px;
    }
    .recovery__form-log {
        margin: 0px 0px 67px 0px;
    }
}

@media (max-width: 425px) {
    .page-recovery {
        height: 70vh;
    }
}

@media (max-width: 375px) {
    .recovery__title {
        display: block;
        margin: 0px 0px 45px 15px;
    }
    .recovery__img {
        width: 180px;
        height: 180px;
    }
    .recovery__form-email {
        margin: 0px 0px 25px 0px;
    }
}
