.user-list__item {
    flex: 0 1 33.333%;
    padding: 5px;
}

.user-item__body {
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0px 3px 3px 1px rgb(0 0 0 / 5%);
    background-color: #fff;
}

.item-body__info {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.user__avatar {
    position: relative;
    margin-right: 10px;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

.user-info {
}

.user-avatar__online {
    position: absolute;
    display: block;
    top: 3px;
    left: 3px;
    background-color: #00c305;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border: 1.5px solid #ffffff;
}

.avatar-name {
    width: 50px;
    height: 50px;
    background: linear-gradient(325.78deg, #2a8bf2 14.76%, #7cb8f7 87.3%);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    color: #ffffff;
    font-weight: 500;
    font-size: 20px;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    text-transform: uppercase;
}

.avatar-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

.user__userName {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
    text-transform: capitalize;
    color: #0d1c2e;
}

.user__userEmail {
    position: relative;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.05rem;
    color: #0d1c2e;
    text-decoration: none;
    cursor: pointer;
}

.user__userEmail:hover::after {
    content: attr(data-title);
    position: absolute;
    left: 0;
    top: 15px;
    z-index: 1;
    background: rgba(72, 168, 247, 0.774);
    color: #fafafa;
    font-size: 11px;
    padding: 5px 10px;
    border-radius: 8px;
}

.user__userEmail:hover {
    color: #2a8bf2;
    font-weight: 600;
    text-decoration: underline;
}

.item-body__btn {
    display: flex;
}

.item-btn__button {
    background: rgb(19, 19, 19);
    max-width: 50px;
    min-width: 50px;
    max-height: 50px;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

.item-btn__button img {
    width: 24px;
    height: 24px;
}

@media (min-width: 768px) and (max-width: 991px) {
    .user-list__item {
        flex: 0 1 50%;
    }
}
@media (max-width: 767px) {
    .user-list__item {
        flex: 0 1 100%;
    }
}
