.chat__container {
    max-height: 100%;
    min-height: 100%;
    max-width: 100%;
    min-width: 48.3vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    background: #ffffff;
    box-shadow: 0px 10px 55px rgb(0 0 0 / 5%), 0px 4px 10px rgb(0 0 0 / 25%),
        0px 10px 25px rgb(0 0 0 / 5%);
}

@media (max-width: 991px) {
    .chat__container {
        min-width: 58vw;
    }
}

@media (max-width: 768px) {
    .chat__container {
        position: absolute;
        z-index: 10;
        top: 0px;
        left: 0px;
    }
}

@media (max-width: 425px) {
    .chat__container {
        position: fixed;
    }
}
