.chat__container {
    max-height: 100%;
    min-height: 100%;
    max-width: 100%;
    min-width: 48.3vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    background: #ffffff;
    box-shadow: 0px 10px 55px rgb(0 0 0 / 5%), 0px 4px 10px rgb(0 0 0 / 25%),
        0px 10px 25px rgb(0 0 0 / 5%);
}

.chat-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 20px;
    background-color: #fafbff;
    border-radius: 6px 6px 0px 0px;
    border-bottom: 2px solid rgba(112, 124, 151, 0.1);
}

.chat-header__userinfo {
    display: flex;
    align-items: center;
}

.chat-header__back {
    display: none;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.header-userinfo__avatar {
    position: relative;
    margin-right: 21px;
}

.header-userinfo__avatar img {
    width: 57px;
    height: 57px;
    border-radius: 50%;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

.header-userinfo__avatarName {
    width: 57px;
    height: 57px;
    background: linear-gradient(325.78deg, #2a8bf2 14.76%, #7cb8f7 87.3%);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    color: #ffffff;
    font-weight: 500;
    font-size: 20px;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    text-transform: uppercase;
}

.user-avatar__online {
    position: absolute;
    display: block;
    top: 3px;
    left: 3px;
    background-color: #00c305;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border: 1.5px solid #ffffff;
}

.info-username {
    font-size: 18px;
    line-height: 117%;
    font-weight: 600;
    text-transform: capitalize;
    color: #0d1c2e;
    margin-bottom: 6.35px;
}

.info-actions {
    font-size: 16px;
    line-height: 119%;
    text-transform: lowercase;
    color: #2a8bf2;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

.chat-header__additions {
    display: flex;
    align-items: center;
}

.addition-attachments {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 59px;
    height: 59px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.03), 0px 7px 25px rgba(42, 139, 242, 0.03),
        0px 5px 25px rgba(42, 139, 242, 0.07);
    margin-right: 21px;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

.addition-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 59px;
    height: 59px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.03), 0px 7px 25px rgba(42, 139, 242, 0.03),
        0px 5px 25px rgba(42, 139, 242, 0.07);
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

.chat-body {
    display: flex;
    flex-direction: column-reverse;
    flex: 1 1 auto;
    overflow-x: hidden;
    overflow-y: scroll;
}

.chat-body__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 10px;
}

.message-currentUser {
    display: flex;
    justify-content: flex-end;
}

.message-senderUser {
    display: flex;
    justify-content: flex-start;
}

.no-messages {
    text-align: center;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #707c97;
    user-select: none;
}

.chat-footer {
    border-top: 2px solid rgba(112, 124, 151, 0.1);
    padding: 14px 20px;
    min-width: 100%;
    max-width: 100%;
}

.chat-footer__body {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.footer-add {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.add-menu-video {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42.25px;
    height: 42.25px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #2a8bf2;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.03), 0px 7px 25px rgba(42, 139, 242, 0.03),
        0px 5px 25px rgba(42, 139, 242, 0.07);
    margin-bottom: 10px;
}

.add-menu-photo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42.25px;
    height: 42.25px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #2a8bf2;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.03), 0px 7px 25px rgba(42, 139, 242, 0.03),
        0px 5px 25px rgba(42, 139, 242, 0.07);
    margin-bottom: 10px;
}

.add-menu-file {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42.25px;
    height: 42.25px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #2a8bf2;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.03), 0px 7px 25px rgba(42, 139, 242, 0.03),
        0px 5px 25px rgba(42, 139, 242, 0.07);
}

.footer-add__plus {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42.25px;
    height: 42.25px;
    cursor: pointer;
    border-radius: 50%;
    background: linear-gradient(325.78deg, #2a8bf2 14.76%, #7cb8f7 87.3%);
}

.footer-add__menu {
    position: absolute;
    top: -163px;
    left: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}
.open__add-menu {
    opacity: 1;
    display: flex;
    transform: translateY(0);
    animation: openAddMenu 0.2s 1;
}
.chat-footer__addFile {
    margin-top: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}
@keyframes openAddMenu {
    0% {
        transform: translateY(60px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.footer-plus {
    width: 16.9px !important;
    height: 16.93px !important;
}

.footer-input {
    width: 100%;
    display: flex;
    align-items: center;
    margin: auto 20px;
    color: rgba(112, 124, 151, 0.5);
}

.message-input {
    max-height: 200px;
    min-height: 30px;
    width: 100%;
    font-size: 20px !important;
    line-height: 120%;
    color: rgb(96, 106, 129) !important;
    overflow-x: hidden;
    overflow-y: scroll;
    overflow-wrap: break-word;
    word-break: break-word;
    box-sizing: border-box;
    cursor: pointer;
}

.footer-input div:empty::before {
    content: attr(data-placeholder);
}

.footer-attach {
    position: relative;
    display: flex;
    align-items: center;
}

.footer-attach__smile {
    display: flex;
    margin-right: 33px;
}

.send-message {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42.25px;
    height: 42.25px;
    background: linear-gradient(325.78deg, #2a8bf2 14.76%, #7cb8f7 87.3%);
    box-shadow: 4px 4px 25px rgba(42, 139, 242, 0.15), 2px 2px 25px rgba(42, 139, 242, 0.05),
        4px 6px 10px rgba(42, 139, 242, 0.15);
    border-radius: 50%;
}

.footer-attach__picker {
    position: absolute;
    top: -358px;
    left: -170px;
}

@media (max-width: 991px) {
    .chat__container {
        min-width: 58vw;
    }
    .chat-header {
        padding: 7px 10px;
    }
    .header-userinfo__avatar img {
        width: 45px;
        height: 45px;
    }
    .header-userinfo__avatarName {
        width: 45px;
        height: 45px;
    }
    .header-userinfo__avatar {
        margin-right: 10px;
    }
    .addition-menu {
        width: 45px;
        height: 45px;
    }
    .addition-attachments {
        width: 45px;
        height: 45px;
        margin-right: 10px;
    }
    .chat-footer {
        padding: 7px 10px;
    }
    .footer-attach__smile {
        margin-right: 15px;
    }
}

@media (max-width: 768px) {
    .chat__container {
        position: absolute;
        z-index: 10;
        top: 0px;
        left: 0px;
    }
    .chat-header__back {
        display: flex;
    }
}

@media (max-width: 425px) {
    .chat__container {
        position: fixed;
    }
}
