.chat__container {
    height: 95vh;
    max-width: 49.55vw;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    background: #ffffff;
    box-shadow: 0px 10px 55px rgba(0, 0, 0, 0.05), 0px 4px 10px rgba(0, 0, 0, 0.25),
        0px 10px 25px rgba(0, 0, 0, 0.05);
}

.chat-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 29px 40px 29px 63px;
    background-color: #fafbff;
    border-radius: 6px 6px 0px 0px;
    border-bottom: 2px solid rgba(112, 124, 151, 0.1);
}

.chat-header__userinfo {
    display: flex;
    align-items: center;
}

.header-userinfo__avatar {
    position: relative;
    margin-right: 21px;
}

.header-userinfo__avatar img {
    width: 57px;
    height: 57px;
    border-radius: 50%;
}

.header-userinfo__avatarName {
    width: 57px;
    height: 57px;
    background: linear-gradient(325.78deg, #2a8bf2 14.76%, #7cb8f7 87.3%);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    color: #ffffff;
    font-weight: 500;
    font-size: 20px;
    user-select: none;
    text-transform: uppercase;
}

.user-avatar__online {
    position: absolute;
    display: block;
    top: 3px;
    left: 3px;
    background-color: #00c305;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border: 1.5px solid #ffffff;
}

.header-userinfo__info {
}

.info-username {
    font-size: 18px;
    line-height: 117%;
    font-weight: 600;
    text-transform: capitalize;
    color: #0d1c2e;
    margin-bottom: 6.35px;
}

.info-actions {
    font-size: 16px;
    line-height: 119%;
    text-transform: lowercase;
    color: #2a8bf2;
}

.chat-header__additions {
    display: flex;
    align-items: center;
}

.addition-attachments {
    background-color: #ffffff;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.03), 0px 7px 25px rgba(42, 139, 242, 0.03),
        0px 5px 25px rgba(42, 139, 242, 0.07);
    margin-right: 21px;
    padding: 15.43px 17.96px 16.49px 17.96px;
    border-radius: 50%;
    cursor: pointer;
}

.addition-menu {
    background-color: #ffffff;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.03), 0px 7px 25px rgba(42, 139, 242, 0.03),
        0px 5px 25px rgba(42, 139, 242, 0.07);
    padding: 16.46px 25.455px 16.46px 25.455px;
    border-radius: 50%;
    cursor: pointer;
}

.chat-body {
    flex: 1 1 auto;
    overflow-x: hidden;
    overflow-y: scroll;
}

.chat-body__content {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.message-currentUser {
    display: flex;
    justify-content: flex-end;
}

.message-senderUser {
    display: flex;
    justify-content: flex-start;
}

.no-messages {
    text-align: center;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #707c97;
    user-select: none;
}

.chat-footer {
    border-top: 2px solid rgba(112, 124, 151, 0.1);
    padding: 20px 63px 31.74px 63px;
    width: 48.5vw;
}

.chat-footer__body {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.footer-add {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-right: 22.19px;
}

.add-menu-video {
    cursor: pointer;
    padding: 9.64px 11.135px 9.64px 11.135px;
    background-color: #2a8bf2;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.03), 0px 7px 25px rgba(42, 139, 242, 0.03),
        0px 5px 25px rgba(42, 139, 242, 0.07);
    border-radius: 50%;
    margin-bottom: 10px;
}

.add-menu-photo {
    cursor: pointer;
    padding: 9.64px 11.135px 9.64px 11.135px;
    background-color: #2a8bf2;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.03), 0px 7px 25px rgba(42, 139, 242, 0.03),
        0px 5px 25px rgba(42, 139, 242, 0.07);
    border-radius: 50%;
    margin-bottom: 10px;
}

.add-menu-file {
    cursor: pointer;
    padding: 8.625px 12.635px 8.625px 12.635px;
    background-color: #2a8bf2;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.03), 0px 7px 25px rgba(42, 139, 242, 0.03),
        0px 5px 25px rgba(42, 139, 242, 0.07);
    border-radius: 50%;
}

.footer-add__plus {
    cursor: pointer;
    padding: 12.6325px 13.1375px 10.6325px 13.1375px;
    border-radius: 50%;
    background: linear-gradient(325.78deg, #2a8bf2 14.76%, #7cb8f7 87.3%);
}

.footer-add__menu {
    position: absolute;
    top: -163px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.footer-plus {
    width: 16.9px !important;
    height: 16.93px !important;
}

.footer-input {
    width: 33.5vw;
    display: flex;
    align-items: center;
    margin: auto;
    color: rgba(112, 124, 151, 0.5);
}

.message-input {
    width: 100%;
    max-height: 200px;
    min-height: 30px;
    font-size: 20px !important;
    line-height: 120%;
    color: rgb(96, 106, 129) !important;
    overflow-x: hidden;
    overflow-y: scroll;
    overflow-wrap: break-word;
}

.footer-input div:empty::before {
    content: attr(data-placeholder);
}

.footer-attach {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.footer-attach__smile {
    margin-right: 33px;
}

.footer-attach__send {
}

.send-message {
    background: linear-gradient(325.78deg, #2a8bf2 14.76%, #7cb8f7 87.3%);
    box-shadow: 4px 4px 25px rgba(42, 139, 242, 0.15), 2px 2px 25px rgba(42, 139, 242, 0.05),
        4px 6px 10px rgba(42, 139, 242, 0.15);
    border-radius: 50%;
    padding: 12.595px 13.09px 8.825px 11.33px;
}

.send-message__img {
}

.footer-attach__picker {
    position: absolute;
    top: -358px;
    left: -170px;
}

@media (max-width: 1600px) {
    /* .chat__container {
        height: 95vh;
        max-width: 700px;
    } */

    .chat-header {
        padding: 14px 20px 14px 20px;
    }

    .chat-footer {
        padding: 14px 20px 14px 20px;
    }
}
