.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.registration__container {
    max-width: 1400px;
    padding: 0px 15px;
}

.body__registration {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background: #ffffff;
    border-radius: 20px;
    max-width: 600px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    align-content: center;
    padding: 40px 30px 40px 30px;
    max-height: 70vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.registration__title {
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    color: #3f434a;
    text-align: center;
    margin-bottom: 10px;
}

.registration__google {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #e8e9eb;
    color: #595f69;
    border-radius: 14px;
    cursor: pointer;
    transition: 0.2s ease border;
}

.registration__google:hover {
    border: 1px solid #304ffd;
}

.registration__google-icon {
    width: 15px;
    height: 16px;
    background-image: url(../../../assest/icons/IconLogin/google-icon.svg);
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0px 0px 0px 14px;
}

.registration__google-btn {
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    padding: 10px 128px 11px 98px;
}

.registration__email {
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #8a9099;
    opacity: 0.6;
    margin: 15px 0px;
    flex-direction: row;
    justify-content: center;
}

.registration__email h2 {
    padding: 0px 7px 0px 8px;
}

.registration__email-line {
    background: #e8e9eb;
    width: 90px;
    height: 1px;
}

.registration__form {
    /* display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center; */
}

.registration__form-fio {
    margin: 0px 0px 27px 0px;
}

.registration__form-email {
    margin: 0px 0px 27px 0px;
}

.registration__form-password {
    display: flex;
    flex-direction: row;
    margin: 0px 0px 28px 0px;
    align-items: center;
}

.registration__form-password-confirm {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 0px 21px 0px;
}

.registration__form-remeber {
    display: flex;
    justify-content: space-between;
}

.registration__form-remeber label {
    margin-right: 3px;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #595f69;
    display: block;
}

.registration__form-remeber label input {
    margin: 0px 12px 0px 0px;
}

.registration__form-log {
    margin: 24px 0px 20px 0px;
}

.registration__form-log input[type="submit"] {
    width: 100%;
    background-color: #304ffd;
    padding: 10px 0px 9px 0px;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    color: #ffffff;
    border-radius: 14px;
    box-shadow: 0px 4px #0026ff;
    top: 0;
    transition: 0.2s ease box-shadow, 0.2s ease background-color;
    cursor: pointer;
}

.registration__form-log input[type="submit"]:hover {
    top: 2px;
    box-shadow: 0 2px 0px #0026ff;
    background-color: #304ffd;
}

.registration__footer {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #8a9099;
}

.registration__footer a {
    color: #304ffd;
    margin: 0px 0px 0px 5px;
    transition: 0.2s ease color;
}

.registration__footer a:hover {
    color: #000e5a;
}

.form__subtitle {
    font-size: 14px;
    line-height: 18px;
    color: #8a9099;
    margin: 0px 0px 9px 0px;
}

.form__remeber-link {
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    color: #304ffd;
    word-break: break-all;
    transition: 0.2s ease color;
}

.form__remeber-link:hover {
    color: #000e5a;
}

.form__remeber-link h2 {
    display: inline-block;
}

.form-fio__input {
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #3f434a;
    border: 1px solid #e8e9eb;
    border-radius: 14px;
    width: 400px;
    max-width: 100%;
    padding: 9px 0px 10px 15px;
    transition: 0.2s ease border;
}

.form-fio__input:focus {
    border: 1px solid #000000;
}

.form-fio__input:hover {
    border: 1px solid #304ffd;
}

.form-email__input {
    font-size: 14px;
    line-height: 18px;
    color: #3f434a;
    border: 1px solid #e8e9eb;
    border-radius: 14px;
    width: 400px;
    max-width: 100%;
    padding: 10px 0px 10px 15px;
    transition: 0.2s ease border;
}

.form-email__input:focus {
    border: 1px solid #000000;
}

.form-email__input:hover {
    border: 1px solid #304ffd;
}

.form-password__input {
    border: 1px solid #e8e9eb;
    border-radius: 14px;
    color: #3f434a;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 0.03em;
    line-height: 60px;
    max-height: 40px;
    max-width: 100%;
    padding: 0 0 0 15px;
    transition: border 0.2s ease;
    width: 400px;
    position: relative;
}

.form-password__input::placeholder {
    font-size: 40px;
    position: absolute;
    top: -7.5px;
    left: 15px;
}

.form-password__input:focus {
    border: 1px solid #000000;
}

.form-password__input:hover {
    border: 1px solid #304ffd;
}

.form-password__input-confirm {
    border: 1px solid #e8e9eb;
    border-radius: 14px;
    color: #3f434a;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 0.03em;
    line-height: 60px;
    max-height: 40px;
    max-width: 100%;
    padding: 0 0 0 15px;
    transition: border 0.2s ease;
    width: 400px;
    position: relative;
}

.form-password__input-confirm::placeholder {
    font-size: 40px;
    position: absolute;
    top: -7.5px;
    left: 15px;
}

.form-password__input-confirm:focus {
    border: 1px solid #000000;
}

.form-password__input-confirm:hover {
    border: 1px solid #304ffd;
}

.password__input-icon {
    /* background-image: url(../img/icons/Hide.svg); */
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    width: 40px;
    height: 18px;
    color: #3f434a;
    position: absolute;
    margin: 0px 0px 1px 346px;
}

.password__confirm-input-icon {
    /* background-image: url(../img/icons/Hide.svg); */
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    width: 40px;
    height: 18px;
    color: #3f434a;
    position: absolute;
    margin: 0px 0px 3px 346px;
}

@media (max-width: 1024px) {
    .wrapper {
        min-height: 950px;
    }
    .registration__title {
        margin-top: 71px;
        margin-bottom: 44px;
    }
    .registration__google-btn {
        padding: 10px 82px 11px 63px;
    }
    .registration__email {
        margin: 32px 0px 31px 0px;
    }
    .registration__email-line {
        width: 50px;
    }
    .registration__form-log {
        margin: 27px 0px 66px 0px;
    }
    .registration__form-log input[type="submit"] {
        padding: 10px 86px 9px 85px;
    }
    .registration__footer {
        margin: 0px 0px 35px 0px;
    }
    .registration__form-fio {
        margin: 0px 0px 35px 0px;
    }
    .registration__form-email {
        margin: 0px 0px 30px 0px;
    }
    .registration__form-password {
        margin: 0px 0px 32px 0px;
    }
    .body__registration {
        margin: 40px auto;
        max-width: 430px;
    }
    .form-email__input {
        width: 320px;
    }
    .form-fio__input {
        width: 320px;
    }
    .form-password__input {
        width: 320px;
    }
    .form-password__input-confirm {
        width: 320px;
    }
    .form__remeber-link h2 {
        display: block;
        margin: 0px 0px 0px -79px;
    }
    .password__input-icon {
        margin: 0px 0px 1px 266px;
    }
    .password__confirm-input-icon {
        margin: 0px 0px 1px 266px;
    }
}

@media (max-width: 375px) {
    .wrapper {
        min-height: 900px;
    }
    .registration__title {
        margin-top: 46px;
        margin-bottom: 44px;
    }
    .registration__google-btn {
        padding: 10px 53px 11px 25px;
    }
    .registration__email-line {
        width: 15px;
    }
    .registration__form-log input[type="submit"] {
        padding: 10px 51px 9px 51px;
    }
    .registration__form-confirm {
        margin: 0px 0px 24px 0px;
    }
    .body__registration {
        max-width: 316px;
    }
    .form-email__input {
        width: 252px;
    }
    .form-fio__input {
        width: 252px;
    }
    .form-password__input {
        width: 252px;
    }
    .form-password__input-confirm {
        width: 252px;
    }
    .form__remeber-link h2 {
        display: block;
        margin: 0px 0px 0px -79px;
    }
    .password__input-icon {
        margin: 0px 0px 1px 199px;
    }
    .password__confirm-input-icon {
        margin: 0px 0px 1px 199px;
    }
}
