.chat-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 20px;
    background-color: #fafbff;
    border-radius: 6px 6px 0px 0px;
    border-bottom: 2px solid rgba(112, 124, 151, 0.1);
}

.chat-header__userinfo {
    display: flex;
    align-items: center;
}

.chat-header__back {
    display: none;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.header-userinfo__avatar {
    position: relative;
    margin-right: 21px;
}

.header-userinfo__avatar img {
    width: 57px;
    height: 57px;
    border-radius: 50%;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

.header-userinfo__avatarName {
    width: 57px;
    height: 57px;
    background: linear-gradient(325.78deg, #2a8bf2 14.76%, #7cb8f7 87.3%);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    color: #ffffff;
    font-weight: 500;
    font-size: 20px;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    text-transform: uppercase;
}

.user-avatar__online {
    position: absolute;
    display: block;
    top: 3px;
    left: 3px;
    background-color: #00c305;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border: 1.5px solid #ffffff;
}

.info-username {
    font-size: 18px;
    line-height: 117%;
    font-weight: 600;
    text-transform: capitalize;
    color: #0d1c2e;
    margin-bottom: 6.35px;
}

.info-actions {
    font-size: 16px;
    line-height: 119%;
    text-transform: lowercase;
    color: #2a8bf2;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

.chat-header__additions {
    display: flex;
    align-items: center;
}

.addition-attachments {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 59px;
    height: 59px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0px 0px 18px 1px rgb(42 139 242 / 3%);
    margin-right: 21px;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

.addition-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 59px;
    height: 59px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0px 0px 18px 1px rgb(42 139 242 / 3%);
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

@media (max-width: 991px) {
    .chat-header {
        padding: 7px 10px;
    }
    .header-userinfo__avatar img {
        width: 45px;
        height: 45px;
    }
    .header-userinfo__avatarName {
        width: 45px;
        height: 45px;
    }
    .header-userinfo__avatar {
        margin-right: 10px;
    }
    .addition-menu {
        width: 45px;
        height: 45px;
    }
    .addition-attachments {
        width: 45px;
        height: 45px;
        margin-right: 10px;
    }
}

@media (max-width: 768px) {
    .chat-header__back {
        display: flex;
    }
    .addition-menu {
        box-shadow: none;
        border: 1px solid rgb(128, 128, 128);
    }
    .addition-attachments {
        box-shadow: none;
        border: 1px solid rgb(128, 128, 128);
    }
}
