.entry__container {
    max-width: 2560px;
    min-height: 100vh;
    padding: 0px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notice__container {
    position: relative;
    max-width: 2560px;
    flex: 1 1 auto;
}
